<%- include("partials/header.ejs") %>

<div class="out">
  <div class="dashboard__page">
    <div class="header js-header"><button class="header__burger js-header-burger"><svg class="icon icon-burger">
          <use xlink:href="img/sprite.svg#icon-burger"></use>
        </svg></button><a class="header__logo" href="#"><img src="img/dashboard_logo.svg" alt="" /><img class="header__pic header__pic_white" src="img/logo-white.svg" alt="" /></a>
      <div class="header__title">Dashboard</div>
      <div class="header__group">
        <a class="header__profile" href="#"><img class="header__pic" src="img/header-ava.png" alt="" /></a>
      </div>
      <div class="header__bg js-header-bg"></div>
    </div>
    <div class="dashboard__pageWrapper">
      <div class="sidebar js-sidebar">
        <div class="sidebar__top"><button class="sidebar__close js-sidebar-close"><svg class="icon icon-close">
              <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg></button><a class="sidebar__logo" href="#"><img class="sidebar__pic sidebar__pic_black" src="img/logo.svg" alt="" /><img class="sidebar__pic sidebar__pic_white" src="img/logo-white.svg" alt="" /></a></div>
        <div class="sidebar__wrapper">

          <div class="sidebar__menu"><a class="sidebar__item active" href="#">
              <img class="icon " src="img/dashboard_icon.svg" alt="">
              Dashboard</a><a class="sidebar__item" href="/dashboard">
              <img class="icon " src="img/customPlanner_icon.svg" alt="">
              Custom Planner</a><a class="sidebar__item" href="/virtualboard">
              <img class="icon" src="img/virtualBoard_icon.svg" alt="">
              Virtual Board</a>
              <a class="sidebar__item" href="/settings">
                <img class="icon" src="img/settings.svg" alt="">
                Setting</a>
            <a class="sidebar__item" style="color: #E92424" href="/">
              <img class="icon" src="img/logout_icon.svg" alt="">
              Logout</a>
          </div>
        </div>
      </div>
      <div class="page3__container">
        <div class="student__dashboard">
          <div class="student__head">
            <h1 class="student__title title title_big">My Kids</h1>
            <div class="student__text">These are all the kids registered in your account. To add more kids click on the add <a class="student__link" href="#">add kid</a> button.</div>
            <div class="student__control">
              <div class="add__student">
                <button class="sorting__btn btn btn_yellow js-popup-open" href="#popup-details" data-effect="mfp-zoom-in">
                  <img src="img/add.svg" class="icon icon-plus" alt="">
                  <span class="btn__text ">Add Kid</span></button>
              </div>
            </div>
          </div>

        </div>


        <div class="student__list student__list_2 student__list__margin">
          <% for (let i=0; i<kids.length; i++) { %>
          <div class="student__item">
            <% if (kids[i].gender === "Male") { %>
            <div class="student__ava"><img class="student__pic" src="img/Kid Pic.jpeg" alt=""></div>
            <% } else { %>
            <div class="student__ava"><img class="student__pic" src="img/Girl Pic.jpeg" alt=""></div>
            <% } %>
            <div class="student__title title title_sm"><%=kids[i].name%></div>
            <div class="student__details"><span class="student__text">985 XP</span></div>
            <div class="student__indicators">
              <div class="student__indicator">847</div>
              <div class="student__indicator">75</div>
              <div class="student__indicator">---</div>
            </div>
            <div class="student__options">
              <div class="student__option">
                <div class="student__category">Completed</div>
                <div class="student__counter">4</div>
              </div>
              <div class="student__option">
                <div class="student__category">Passing Rate</div>
                <div class="student__counter">88%</div>
              </div>
            </div>
            <form class="" action="/dashboard" method="post">
              <button class="student__btn btn btn_green" type="submit">View Profile</button>
              <input type="hidden" name="kidID" value="<%= kids[i]._id %>">
            </form>

          </div>

          <% } %>
        </div>

        <div class="student__dashboard">
          <div class="student__head">
            <h1 class="student__title title title_big">Overall Statistics</h1>

            <!-- Experience Points Statistics -->

            <div class="admin__card admin__card_p30">
              <div class="admin__top">
                <div class="admin__details">
                  <div class="admin__total">Total Experience Points</div>
                  <div class="admin__number">12,314 </div>
                </div>
                <div class="admin__legends">
                  <% for (let i=0; i<kids.length; i++) { %>
                  <div class="admin__parameter">
                    <div class="admin__bg" style="background-color: <%=colors[i]%>;"></div>
                    <div class="admin__text"><%=kids[i].name%></div>
                  </div>
                  <% } %>
                </div>
              </div>
              <div class="admin__chart admin__chart_total">
                <div id="chart-total-impressions"></div>
              </div>
            </div>

            <!-- Another Statistics Option -->

            <div class="admin__row admin__row_tablet">
              <div class="admin__col admin__col_w65">
                <div class="admin__card">
                  <div class="admin__chart admin__chart_financial">
                    <div id="chart-financial-goals"></div>
                  </div>
                  <div class="admin__bottom">
                    <div class="admin__details"><a class="admin__title title title_sm" href="#">Financial Goals<svg class="icon icon-arrow-right">
                          <use xlink:href="img/sprite.svg#icon-arrow-right"></use>
                        </svg></a>
                      <div class="admin__info">Set your financial goal every day of you need</div>
                    </div>
                    <div class="admin__variants">
                      <div class="admin__text">Show Data:</div><select class="admin__select">
                        <option selected>This Week</option>
                        <option>This Week</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>


              <!-- Progress Overview of Each Kids -->

              <div class="admin__col admin__col_w35">
                <div class="admin__card admin__card_pb20">
                  <div class="admin__flex">
                    <div class="admin__title title title_sm">Progress Overview</div>
                  </div>
                  <div class="admin__popular">
                    <% for (let i=0; i<kids.length; i++) { %>
                    <div class="admin__line">
                      <div class="admin__details">
                        <div class="admin__category"><%=kids[i].name%></div>
                        <div class="admin__info">Age: <%=kids[i].age%></div>
                      </div>
                      <div class="admin__chart">
                        <div id="spark-1"></div>
                      </div>
                      <div class="admin__result"><svg class="icon icon-profile">
                          <use xlink:href="img/sprite.svg#icon-profile"></use>
                        </svg>
                        <div class="admin__text">2,129</div><svg class="icon icon-arrow-top">
                          <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                        </svg>
                      </div>
                    </div>

                    <% } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>



      <!-- Add Kid Popup Menu -->

      <div class="popup mfp-hide" id="popup-details">
        <div class="details">
          <div class="details__container">
            <div class="details__head">
              <div class="details__title">Add Kid</div>
              <div class="details__info">Fill out the fields to add another kid in the system</div>
            </div>
            <div class="details__wrapper">
              <form class="entry__form" method="post" action="/addkid">
                <div class="entry__fieldset">
                  <div class="field1 field1_email js-field">
                    <div class="field1__label">Full Name</div>
                    <div class="field1__wrap"><input class="field1__input js-field-input" type="text" name="kidName">
                    </div>
                  </div>
                  <div class="entry__row entry__row_mobile">
                    <div class="entry__col">
                      <div class="field1 field1_icon js-field">
                        <div class="field1__label">Age</div>
                        <div class="field1__wrap"><input class="field1__input js-field-input" type="text" name="kidAge"></div>
                      </div>
                    </div>
                    <div class="entry__col">
                      <div class="field1 field1_select js-field">
                        <div class="field1__label">Select Gender</div>
                        <div class="field1__wrap"><select class="field1__select js-field-input" name="kidLevel">
                            <option>Male</option>
                            <option>Female</option>
                          </select></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="entry__btns"><button class="entry__btn btn btn btn_big btn_yellow" type="submit">Register</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%- include("partials/footer.ejs") %>
