<%- include("partials/header.ejs") %>

<div class="out">
  <div class="dashboard__page">
    <div class="header js-header"><button class="header__burger js-header-burger"><svg class="icon icon-burger">
          <use xlink:href="img/sprite.svg#icon-burger"></use>
        </svg></button><a class="header__logo" href="#"><img src="img/dashboard_logo.svg" alt="" /><img class="header__pic header__pic_white" src="img/logo-white.svg" alt="" /></a>
      <div class="header__title">Dashboard</div>
      <div class="header__group">
        <a class="header__profile" href="#"><img class="header__pic" src="img/header-ava.png" alt="" /></a>
      </div>
      <div class="header__bg js-header-bg"></div>
    </div>
    <div class="dashboard__pageWrapper">
      <div class="sidebar js-sidebar">
        <div class="sidebar__top"><button class="sidebar__close js-sidebar-close"><svg class="icon icon-close">
              <use xlink:href="img/sprite.svg#icon-close"></use>
            </svg></button><a class="sidebar__logo" href="#"><img class="sidebar__pic sidebar__pic_black" src="img/logo.svg" alt="" /><img class="sidebar__pic sidebar__pic_white" src="img/logo-white.svg" alt="" /></a></div>
        <div class="sidebar__wrapper">

          <div class="sidebar__menu"><a class="sidebar__item active" href="/dashboard">
              <img class="icon " src="img/dashboard_icon.svg" alt="">
              Dashboard</a><a class="sidebar__item" href="/virtualboard">
              <img class="icon" src="img/virtualBoard_icon.svg" alt="">
              Virtual Board</a>
              <a class="sidebar__item " href="maths">
              <img class="icon" src="img/maths.svg" alt="">
              Maths</a>
              <a class="sidebar__item " href="english">
              <img class="icon" src="img/english.svg" alt="">
              English</a>
              <a class="sidebar__item " href="urdu">
              <img class="icon" src="img/urdu.svg" alt="">
              Urdu</a>
              <a class="sidebar__item" href="/settings">
                <img class="icon" src="img/settings.svg" alt="">
                Setting</a>
            <a class="sidebar__item" style="color: #E92424" href="/">
              <img class="icon" src="img/logout_icon.svg" alt="">
              Logout</a>
          </div>
        </div>
      </div>
      <div class="page3__container">
        <div class="student__dashboard">
          <div class="student__head">
            <h1 class="student__title title title_big">Hi <%= kidProfile.name %> !</h1>
            <div class="student__text">Age: <span class="student__link"><%= kidProfile.age %></span> </div>
            <div class="student__control">
              <div class="delete__student">
                <button class="btn btn_gray js-popup-open" href="#popup-details" data-effect="mfp-zoom-in">
                  <span class="btn__text btn_delete ">Delete Kid</span></button>
              </div>
              <form class="" action="/customplanner" method="post">
                <div class="add__student delete__student">
                  <button class="btn btn_yellow">
                    <span class="btn__text ">Custom Planner</span></button>
                </div>
              </form>
              <form class="" action="/webglLoader" method="post">
                <div class="add__student">
                  <button class="btn btn_purple" type="submit">
                    <span class="btn__text ">Visit Kid Zone</span></button>
                </div>
              </form>
            </div>
          </div>


          <div class="admin__list" style="margin-top:120px;">
            <div class="admin__item">
              <div class="admin__icon admin__icon_up"><img src="img/xp.svg" alt=""></div>
              <div class="admin__number"><%= kidProfile.experiencePoints %></div>
              <div class="admin__info">Experince Points</div>
            </div>
            <div class="admin__item">
              <div class="admin__icon admin__icon_up"><img src="img/book.svg" alt=""></div>
              <div class="admin__number"><%= (kidProfile.progress[0].engLrProgress) + (kidProfile.progress[0].mathLrProgress) + (kidProfile.progress[0].urduLrProgress) %></div>
              <div class="admin__info">Learning Resources</div>
            </div>
            <div class="admin__item">
              <div class="admin__icon admin__icon_down"><img src="img/game.svg" alt=""></div>
              <div class="admin__number"><%= (kidProfile.progress[0].engGamesProgress) + (kidProfile.progress[0].mathGamesProgress) + (kidProfile.progress[0].urduGamesProgress) %></div>
              <div class="admin__info">Games</div>
            </div>
            <div class="admin__item">
              <div class="admin__icon admin__icon_minus"><img src="img/score.svg" alt=""></div>
              <% if(kidProfile.gameScores.length == 0) { %>
                    <div class="admin__number">0</div>
              <% } else { %>

                  <% var totalScore = 0 %>
                  <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                        <% totalScore += kidProfile.gameScores[i].gameScore %>
                      <% } %>
                    <% var avgScore = Math.round(totalScore/kidProfile.gameScores.length) %>
                  <% } %>

                  <div class="admin__number"><%= avgScore %></div>

              <div class="admin__info">Avg Score</div>
            </div>
          </div>


          <div class="event">
            <div class="sorting1">
              <div class="sorting1__row">
                <h1 class="sorting1__title title">Rewards Cards</h1>
              </div>
            </div>
            <div class="event__list"><a class="event__item" href="#">
                <div class="event__preview"><img class="event__pic" src="img/Card 1.png" alt=""></div>
                <div class="event__body">
                  <div class="event__details">
                    <div class="event__title">iBN-E-SINA</div>
                    <div class="event__info"><span class="event__time">Entry Level</span><span class="event__place">Expeirence Points: 20XP</span></div>
                    <% if(kidProfile.experiencePoints >= 85) { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/acheivment.svg" alt=""></div>
                      <% } else { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/locked.svg" alt=""></div>
                      <% } %>
                  </div>
                </div>
              </a>

              <a class="event__item" href="#">
                <div class="event__preview"><img class="event__pic" src="img/Card 2.png" alt=""></div>
                <div class="event__body">
                  <div class="event__details">
                    <div class="event__title">ABBAS IBNE FARNAS</div>
                    <div class="event__info"><span class="event__time">Novice</span><span class="event__place">Expeirence Points: 40XP</span></div>
                    <% if(kidProfile.experiencePoints >= 170) { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/acheivment.svg" alt=""></div>
                      <% } else { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/locked.svg" alt=""></div>
                      <% } %>
                  </div>
                </div>
              </a>

              <a class="event__item" href="#">
                <div class="event__preview"><img class="event__pic" src="img/Card 3.png" alt=""></div>
                <div class="event__body">
                  <div class="event__details">
                    <div class="event__title">Jabir Bin Hayan</div>
                    <div class="event__info"><span class="event__time">Skillful</span><span class="event__place">Expeirence Points: 60XP</span></div>
                    <% if(kidProfile.experiencePoints >= 254) { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/acheivment.svg" alt=""></div>
                      <% } else { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/locked.svg" alt=""></div>
                      <% } %>
                  </div>
                </div>
              </a>

              <a class="event__item" href="#">
                <div class="event__preview"><img class="event__pic" src="img/Card 4.png" alt=""></div>
                <div class="event__body">
                  <div class="event__details">
                    <div class="event__title">Albert Einstein</div>
                    <div class="event__info"><span class="event__time">Proficient</span><span class="event__place">Expeirence Points: 80XP</span></div>
                    <% if(kidProfile.experiencePoints >= 350) { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/acheivment.svg" alt=""></div>
                      <% } else { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/locked.svg" alt=""></div>
                      <% } %>
                  </div>
                </div>
              </a>

              <a class="event__item" href="#">
                <div class="event__preview"><img class="event__pic" src="img/Card 5.png" alt=""></div>
                <div class="event__body">
                  <div class="event__details">
                    <div class="event__title">Issac Newton</div>
                    <div class="event__info"><span class="event__time">Expert</span><span class="event__place">Expeirence Points: 100XP</span></div>
                    <% if(kidProfile.experiencePoints >= 420) { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/acheivment.svg" alt=""></div>
                      <% } else { %>
                          <div class="student__icon tooltip" title="Onfire"><img class="student__pic" style="margin-left: 10px;" src="img/locked.svg" alt=""></div>
                      <% } %>
                  </div>
                </div>
              </a>
            </div>
          </div>


          <div class="knowledge__container" style="margin-top:50px">
            <div class="knowledge__accord js-accord-item active">
              <div class="knowledge__head js-accord-head">
                <div class="knowledge__arrow"><img src="img/triangle-right.svg" class="icon icon-triangle-right"></div>
                <div class="knowledge__doc"><span class="knowledge__text">English</span></div>
              </div>
              <div class="knowledge__body js-accord-body" style="display: block;">
                <div class="knowledge__list knowledge__list_white">



                  <div class="page7__container" style="padding-left:30px;">
                    <div class="sorting1">
                      <div class="sorting1__row">
                        <h1 class="sorting1__title title">Overview</h1>
                      </div>
                    </div>
                    <div class="overview">
                      <div class="overview__list">
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Experience Points</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0 &&  kidProfile.learningResources.length == 0) { %>
                                <div class="overview__number">0</div>
                            <% } else { %>
                                <% var totalExperiencePoints = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "English") { %>
                                              <% totalExperiencePoints += kidProfile.gameScores[i].experiencePoints %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <div class="overview__number"><%=totalExperiencePoints%></div>
                            <div class="overview__status overview__status_up">XP<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Learning Resources</div>
                            <div class="overview__status overview__status_up">+0.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].engLrProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Games</div>
                            <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].engGamesProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>
                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Avg Score</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0) { %>
                                  <div class="overview__number">0</div>
                            <% } else { %>

                                <% var totalScore = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "English") { %>
                                              <% totalScore += kidProfile.gameScores[i].gameScore %>
                                        <% } %>
                                    <% } %>
                                  <% var avgScore = Math.round(totalScore/kidProfile.gameScores.length) %>
                                <% } %>
                            <div class="overview__number"><%=avgScore%></div>
                            <div class="overview__status overview__status_up">Points<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w75">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__title">Time Analysis</div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #0062FF;"></div>
                                  <div class="overview__text">Learning Resources</div>
                                </div>
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Activity</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-figures">
                              <div id="chart-english-figures"></div>
                            </div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w25">
                          <!-- <div class="overview__card overview__card_p20">
                            <div class="overview__group">
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-english-rate"></div>
                                  <div class="overview__icon"><svg class="icon icon-goal">
                                      <use xlink:href="img/sprite.svg#icon-goal"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">68%</div>
                                  <div class="overview__info">Passing Rate</div>
                                </div>
                              </div>
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-english-deals"></div>
                                  <div class="overview__icon"><svg class="icon icon-briefcase-1">
                                      <use xlink:href="img/sprite.svg#icon-briefcase-1"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">76%</div>
                                  <div class="overview__info">Deals this year</div>
                                </div>
                              </div>
                            </div>
                          </div> -->
                          <!-- <div class="overview__card">
                            <div class="overview__chart overview__chart_visitors">
                              <div id="chart-english-visitors"></div>
                            </div>
                            <div class="overview__bottom">
                              <div class="overview__details">
                                <div class="overview__number">10,254</div>
                                <div class="overview__info">Visitors this year</div>
                              </div>
                              <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                  <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                                </svg></div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head overview__head_mb30">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Percentile</div>

                              </div>
                            </div>
                            <div class="overview__charts">
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-english-cases"></div>
                                  <% var engTaskPercentage = (engGameScore1 / 10) * 100 %>
                                  <div class="overview__percent"><%=engTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=engGameScore1 %> Points</div>
                                  <div class="overview__info">Task 1</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-english-applications"></div>
                                  <% var engTaskPercentage = (engGameScore2 / 10) * 100 %>
                                  <div class="overview__percent"><%=engTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=engGameScore2 %> Points</div>
                                  <div class="overview__info">Task 2</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-english-products"></div>
                                  <% var engTaskPercentage = (engGameScore3 / 10) * 100 %>
                                  <div class="overview__percent"><%=engTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=engGameScore3 %> Points</div>
                                  <div class="overview__info">Task 3</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__note"><svg class="icon icon-info">
                                <use xlink:href="img/sprite.svg#icon-info"></use>
                              </svg>Above are the Percentile of Each Task of the Subject the kid has performed</div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Scores</div>

                              </div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Games</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-report">
                              <div id="chart-english-sales-report"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="knowledge__container" style="margin-top:50px">
            <div class="knowledge__accord js-accord-item active">
              <div class="knowledge__head js-accord-head">
                <div class="knowledge__arrow"><img src="img/triangle-right.svg" class="icon icon-triangle-right"></div>
                <div class="knowledge__doc"><span class="knowledge__text">Maths</span></div>
              </div>
              <div class="knowledge__body js-accord-body" style="display: block;">
                <div class="knowledge__list knowledge__list_white">



                  <div class="page7__container" style="padding-left:30px;">
                    <div class="sorting1">
                      <div class="sorting1__row">
                        <h1 class="sorting1__title title">Overview</h1>
                      </div>
                    </div>
                    <div class="overview">
                      <div class="overview__list">
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Experience Points</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0 &&  kidProfile.learningResources.length == 0) { %>
                                <div class="overview__number">0</div>
                            <% } else { %>
                                <% var totalExperiencePoints = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "Maths") { %>
                                              <% totalExperiencePoints += kidProfile.gameScores[i].experiencePoints %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <div class="overview__number"><%=totalExperiencePoints%></div>
                            <div class="overview__status overview__status_up">XP<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Learning Resources</div>
                            <div class="overview__status overview__status_up">+0.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].mathLrProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Games</div>
                            <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].mathGamesProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Avg Score</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0) { %>
                                  <div class="overview__number">0</div>
                            <% } else { %>

                                <% var totalScore = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "Maths") { %>
                                              <% totalScore += kidProfile.gameScores[i].gameScore %>
                                        <% } %>
                                    <% } %>
                                  <% var avgScore = Math.round(totalScore/kidProfile.gameScores.length) %>
                                <% } %>
                            <div class="overview__number"><%=avgScore%></div>
                            <div class="overview__status overview__status_up">Points<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w75">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__title">Sales Figures</div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #0062FF;"></div>
                                  <div class="overview__text">Learning Resources</div>
                                </div>
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Games</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-figures">
                              <div id="chart-math-figures"></div>
                            </div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w25">
                          <!-- <div class="overview__card overview__card_p20">
                            <div class="overview__group">
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-math-rate"></div>
                                  <div class="overview__icon"><svg class="icon icon-goal">
                                      <use xlink:href="img/sprite.svg#icon-goal"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">68%</div>
                                  <div class="overview__info">Hit Rate this year</div>
                                </div>
                              </div>
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-math-deals"></div>
                                  <div class="overview__icon"><svg class="icon icon-briefcase-1">
                                      <use xlink:href="img/sprite.svg#icon-briefcase-1"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">76%</div>
                                  <div class="overview__info">Deals this year</div>
                                </div>
                              </div>
                            </div>
                          </div> -->
                          <!-- <div class="overview__card">
                            <div class="overview__chart overview__chart_visitors">
                              <div id="chart-math-visitors"></div>
                            </div>
                            <div class="overview__bottom">
                              <div class="overview__details">
                                <div class="overview__number">10,254</div>
                                <div class="overview__info">Visitors this year</div>
                              </div>
                              <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                  <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                                </svg></div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head overview__head_mb30">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Percentile</div>

                              </div>
                            </div>
                            <div class="overview__charts">
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-math-cases"></div>
                                  <% var mathTaskPercentage = (mathGameScore1 / 10) * 100 %>
                                  <div class="overview__percent"><%=mathTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=mathGameScore1 %>Points</div>
                                  <div class="overview__info">Task 1</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-math-applications"></div>
                                  <% var mathTaskPercentage = (mathGameScore2 / 10) * 100 %>
                                  <div class="overview__percent"><%=mathTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=mathGameScore2 %>Points</div>
                                  <div class="overview__info">Task 2</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-math-products"></div>
                                  <% var mathTaskPercentage = (mathGameScore2 / 10) * 100 %>
                                  <div class="overview__percent"><%=mathTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=mathGameScore2 %>Points</div>
                                  <div class="overview__info">Task 3</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__note"><svg class="icon icon-info">
                                <use xlink:href="img/sprite.svg#icon-info"></use>
                              </svg>Above are the Percentile of Each Task of the Subject the kid has performed</div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Scores</div>

                              </div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Games</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-report">
                              <div id="chart-math-sales-report"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



          <div class="knowledge__container" style="margin-top:50px">
            <div class="knowledge__accord js-accord-item active">
              <div class="knowledge__head js-accord-head">
                <div class="knowledge__arrow"><img src="img/triangle-right.svg" class="icon icon-triangle-right"></div>
                <div class="knowledge__doc"><span class="knowledge__text">Urdu</span></div>
              </div>
              <div class="knowledge__body js-accord-body" style="display: block;">
                <div class="knowledge__list knowledge__list_white">



                  <div class="page7__container" style="padding-left:30px;">
                    <div class="sorting1">
                      <div class="sorting1__row">
                        <h1 class="sorting1__title title">Overview</h1>
                      </div>
                    </div>
                    <div class="overview">
                      <div class="overview__list">
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Experience Points</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0 &&  kidProfile.learningResources.length == 0) { %>
                                <div class="overview__number">0</div>
                            <% } else { %>
                                <% var totalExperiencePoints = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "Urdu") { %>
                                              <% totalExperiencePoints += kidProfile.gameScores[i].experiencePoints %>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            <div class="overview__number"><%=totalExperiencePoints%></div>
                            <div class="overview__status overview__status_up">XP<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Learning Resources</div>
                            <div class="overview__status overview__status_up">+0.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].urduLrProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Games</div>
                            <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <div class="overview__number"><%= kidProfile.progress[0].urduGamesProgress %></div>
                            <div class="overview__status overview__status_up">Completed<svg class="icon icon-arrow-bottom">
                                <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                              </svg></div>
                          </div>

                        </div>
                        <div class="overview__card">
                          <div class="overview__main">
                            <div class="overview__title">Avg Score</div>
                            <div class="overview__status overview__status_up">+2.5%<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>
                          <div class="overview__flex">
                            <% if(kidProfile.gameScores.length == 0) { %>
                                  <div class="overview__number">0</div>
                            <% } else { %>

                                <% var totalScore = 0 %>
                                <% for(i=0;i<kidProfile.gameScores.length;i++) { %>
                                      <% if(kidProfile.gameScores[i].subject == "Urdu") { %>
                                              <% totalScore += kidProfile.gameScores[i].gameScore %>
                                        <% } %>
                                    <% } %>
                                  <% var avgScore = Math.round(totalScore/kidProfile.gameScores.length) %>
                                <% } %>
                            <div class="overview__number"><%=avgScore%></div>
                            <div class="overview__status overview__status_up">Points<svg class="icon icon-arrow-top">
                                <use xlink:href="img/sprite.svg#icon-arrow-top"></use>
                              </svg></div>
                          </div>

                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w75">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__title">Time Analysis</div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #0062FF;"></div>
                                  <div class="overview__text">Learning Resources</div>
                                </div>
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Games</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-figures">
                              <div id="chart-urdu-figures"></div>
                            </div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w25">
                          <!-- <div class="overview__card overview__card_p20">
                            <div class="overview__group">
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-urdu-rate"></div>
                                  <div class="overview__icon"><svg class="icon icon-goal">
                                      <use xlink:href="img/sprite.svg#icon-goal"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">68%</div>
                                  <div class="overview__info">Hit Rate this year</div>
                                </div>
                              </div>
                              <div class="overview__el">
                                <div class="overview__chart overview__chart_circle">
                                  <div id="chart-urdu-deals"></div>
                                  <div class="overview__icon"><svg class="icon icon-briefcase-1">
                                      <use xlink:href="img/sprite.svg#icon-briefcase-1"></use>
                                    </svg></div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__number">76%</div>
                                  <div class="overview__info">Deals this year</div>
                                </div>
                              </div>
                            </div>
                          </div> -->
                          <!-- <div class="overview__card">
                            <div class="overview__chart overview__chart_visitors">
                              <div id="chart-urdu-visitors"></div>
                            </div>
                            <div class="overview__bottom">
                              <div class="overview__details">
                                <div class="overview__number">10,254</div>
                                <div class="overview__info">Visitors this year</div>
                              </div>
                              <div class="overview__status overview__status_down">-1.5%<svg class="icon icon-arrow-bottom">
                                  <use xlink:href="img/sprite.svg#icon-arrow-bottom"></use>
                                </svg></div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="overview__row">
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head overview__head_mb30">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Percentile</div>

                              </div>
                            </div>
                            <div class="overview__charts">
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-urdu-cases"></div>
                                  <% var urduTaskPercentage = (urduGameScore1 / 10) * 100 %>
                                  <div class="overview__percent"><%=urduTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=urduGameScore1 %>Points</div>
                                  <div class="overview__info">Task 1</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-urdu-applications"></div>
                                  <% var urduTaskPercentage = (urduGameScore1 / 10) * 100 %>
                                  <div class="overview__percent"><%=urduTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=urduGameScore1 %>Points</div>
                                  <div class="overview__info">Task 2</div>
                                </div>
                              </div>
                              <div class="overview__box">
                                <div class="overview__chart">
                                  <div id="chart-urdu-products"></div>
                                  <% var urduTaskPercentage = (urduGameScore1 / 10) * 100 %>
                                  <div class="overview__percent"><%=urduTaskPercentage %>%</div>
                                </div>
                                <div class="overview__details">
                                  <div class="overview__counter"><%=urduGameScore1 %>Points</div>
                                  <div class="overview__info">Task 3</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__note"><svg class="icon icon-info">
                                <use xlink:href="img/sprite.svg#icon-info"></use>
                              </svg>Above are the Percentile of Each Task of the Subject the kid has performed</div>
                          </div>
                        </div>
                        <div class="overview__col overview__col_w50">
                          <div class="overview__card">
                            <div class="overview__head">
                              <div class="overview__details overview__details_flex">
                                <div class="overview__title">Scores</div>

                              </div>
                              <div class="overview__legend">
                                <div class="overview__parameter">
                                  <div class="overview__bg" style="background-color: #3DD598;"></div>
                                  <div class="overview__text">Games</div>
                                </div>
                              </div>
                            </div>
                            <div class="overview__chart overview__chart_sales-report">
                              <div id="chart-urdu-sales-report"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>


    <!-- REMOVE KID POPUP -->

    <div class="popup mfp-hide" id="popup-details">
      <div class="details">
        <div class="details__container">
          <div class="details__head">
            <div class="details__title">Remove Kid</div>
            <div class="details__info">Are you sure you want to remove <span class="student__highlight"><%= kidProfile.name %></span> from the system? All the data will be deleted along the kid.</div>
          </div>
          <div class="details__wrapper">
            <form class="entry__form" method="post" action="/deletekid">
              <div class="entry__btns"><button class="entry__btn btn btn btn_big btn_gray" type="button">No</button><button class="entry__btn btn btn btn_big btn_red" type="submit">Delete Kid</button></div>
              <input type="hidden" name="kidID" value="<%= kidID %>">
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<script>

  var engGameScore  = [<%=engGameScore1 %>,<%=engGameScore2 %>,<%=engGameScore3 %>];
  var engGameTime = [<%=engGameTime1 %>, <%=engGameTime2 %>,<%=engGameTime3 %>]
  var engLearningTime = [<%=engLearningTime1 %>, <%=engLearningTime2 %>,<%=engLearningTime3 %>]

  var mathGameScore  = [<%=mathGameScore1 %>,<%=mathGameScore2 %>,<%=mathGameScore3 %>];
  var mathGameTime = [<%=mathGameTime1 %>, <%=mathGameTime2 %>,<%=mathGameTime3 %>]
  var mathLearningTime = [<%=mathLearningTime1 %>, <%=mathLearningTime2 %>,<%=mathLearningTime3 %>]

  var urduGameScore  = [<%=urduGameScore1 %>,<%=urduGameScore2 %>,<%=urduGameScore3 %>];
  var urduGameTime = [<%=urduGameTime1 %>, <%=urduGameTime2 %>,<%=urduGameTime3 %>]
  var urduLearningTime = [<%=urduLearningTime1 %>, <%=urduLearningTime2 %>,<%=urduLearningTime3 %>]


</script>

<%- include("partials/footer.ejs") %>
